body { 
    font-family: Arial, sans-serif; 
    margin: 40px auto; 
    max-width: 800px;
    padding: 0 20px;
    color: #fefcfc; 
    line-height: 1.2; 
    background-color: #080000;
}

.image-container { 
    display: flex;
    align-items: center;
    gap: 15px;  
}

.profile-image {
    width: 150px;  
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
  }

.profile-info h1 { 
    font-size: 28px;
}

table {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  box-shadow: 0 4px 6px rgba(247, 242, 242, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

th {
  background-color: #fcfcfc;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 12px 15px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
  color: #faf9f9;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #000000;
}

tr:hover {
  background-color: #363030;
  transition: background-color 0.2s ease;
}

section { 
    margin-top: 20px; 
}

ul { 
    padding-left: 20px; 
}